* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para el encabezado */
header {
    background: url(Imagenes/53f0e71f528d032ca2e64b9e76037282.gif);
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 30px 0px;
    position: fixed;
    top: 0;
    right: 0;
}


.barra-navegacion {
    display: flex;
}

ul li {
    display: inline-block;
    list-style: none;
    padding: 0 20px;
}

.lista-navegacion {
    display: flex;
    align-items: center;
}

.lista-navegacion a {
    margin: 10px;
    font-size: 1.25rem;
    text-decoration: none;
    color: #eebbbb;
}

.lista-navegacion a:hover {
    color: #62152d;
}

.nav-contacto {
    color: rgb(231, 154, 218);
    padding: 10px 20px;
    text-decoration: none;
    background-color: #ca668b;
    color: #ca668b;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.nav-contacto:hover {
    background-color: #ff9ec2;
}

/* Estilo para la SECCIÓN SOBRE MI */

.sobre-mi {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 150px 50px 150px;
}

.informacion-personal {
    font-size: 1.563rem;
}

.sobre-mi img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.saludo-sobre-mi {
    font-size: 1.875rem;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    display: flex;
    align-items: center;
}

h1 {
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 3.75rem;
    color: #62152d;
}

.descripcion-sobre-mi {
    font-weight: bolder;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.563;
    color: black;
}

.boton-proyectos {
    font-family: 'Kodchasan', sans-serif;
    font-weight: bold;
    display: inline-block;
    padding: 5px 20px;
    font-size: 1.25rem;
    color: #62152d;
    background-color: #ca668b;
    text-decoration: none;
    border-radius: 20px;
}

.boton-proyectos:hover {
    background-color: #ff9ec2;
}

/* Estilos para MIS CONOCIMIENTOS */

.container-conocimientos {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}


.mis-conocimientos {
    height: 100%;
    text-align: center;
    background: url(Imagenes/f878d2979846729ce5831621cbacd1c7.jpg);
    padding: 80px 80px 80px;
}


.mis-conocimientos h2 {
    background: linear-gradient(to right, #952f57, #62152d, #ca668b);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    font-size: 2.25rem;
    font-family: 'Playpen Sans', cursive;
}

.conocimientos {
    display: flex;
    justify-content: center;
}

.container-mis-conocimientos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 20px;
    margin-top: 25px;
}

.container-iconos {
    width: 250px;
    height: 250px;
    border: 1px solid rgb(226, 151, 205);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(Imagenes/55178de7136cb5d0e266000ec7627ac5.gif);
    background-size: contain;
}


.container-iconos i {
    font-size: 4.063rem;
}

.container-iconos p {
    margin-top: 25px;
    font-size: 1.563rem;
    font-family: 'Playpen Sans', cursive;
}

.fa-html5 {
    color: #E34F26;
}

.fa-css3-alt {
    color: #33AABB;
}

.fa-js {
    color: #F7DF1E;
}

.fa-sass {
    color: #CC6699;
}

.fa-react {
    color: #61DAFB;
}

.fa-git-alt {
    color: #e67541;
}

/* SECCION QUOTE */

.cita {
    height: 100vh;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: url(Imagenes/72e0331a65ee23d18dbee80522a60d1a.gif);
    background-size: cover;
}

.fa-quote-right {
    font-size: 9rem;
}

blockquote {
    text-align: center;
    font-size: 1.875rem;
    font-family: 'Shadows Into Light Two', cursive;
}

.Dios {
    font-style: italic;
    font-size: 3.125rem;
    font-family: 'BioRhyme', serif;
}

/* Estilos para MIS PROYECTOS */

.mis-proyectos {
    padding: 100px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffe4ec;
}

.presentacion-proyectos {
    text-align: center;
}

.presentacion-proyectos h2 {
    font-size: 2.25rem;
    font-family: 'Poiret One', sans-serif;
    background: linear-gradient(to right, #e5097f, #ca668b);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}

.descripcion-proyectos {
    font-style: italic;
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;
    margin-top: 20px;
}


.proyectos-container {
    margin: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.container-mis-proyectos {
    width: 340px;
    height: 340px;
    border: 1px solid rgb(221, 151, 203);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    overflow: hidden;
    background: url(Imagenes/478e7522a594e0dc56fb1c6ad6b6cf64.gif);
    background-size: contain;
}

.proyectos-container a {
    text-align: center;
    text-decoration: none;
    color: #62152d;
    font-weight: bolder;
    gap: 20px;
}

.proyectos-container p {
    display: flex;
    align-items: center;
}

.proyectos-container img {
    max-width: 100%;
    height: 65%;
    margin-right: 10px;
    margin-left: 10px;
    background-color: transparent;
}

/* Estilos para CONTACTO */

.seccion-contacto {
    height: 120vh;
    display: flex;
    justify-content: center;
    padding: 100px;
    background-image: url(Imagenes/3644f9ec6f97face5dfc5104912cdc60.jpg);
}

.contenedor-del-contacto {
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(255, 191, 221);
    border-radius: 20px;
    width: 90%;
    padding: 50px;
    background: url(Imagenes/4f0a4cd7babfc4df18cb8d5b437e2d10.gif) center;
    background-size: cover;
}


.contacto-columna {
    width: 50%;
    margin-right: 25px;
}

.contactame {
    color: #62152d;
    font-size: 2.5rem;
    margin-bottom: 25px;
}

p {
    font-style: italic;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 1.125rem;
}

.redes-sociales {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.redes-sociales li {
    margin: 10px;
}

.redes-sociales a {
    text-decoration: none;
    font-size: 1.125rem;
    color: #ca668b;
}

.redes-sociales i {
    font-size: 20px;
    margin-right: 10px;
    color: #ca668b;
}

.contacto-iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 60%;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-right: 10px;
    text-align: center;
    transition: 0.2s;

}


.contacto-link {
    display: flex;
    align-items: center;
}


.contacto-link:hover .contacto-iconos {
    background-color: #ba7b7c;
    color: #62152d;
}

.contacto-link:hover{
    color: #62152d;
}

/* FORMULARIO */

.seccion-del-formulario {
    width: 50%;
}

.chatea-conmigo {
    color: #62152d;
    font-size: 2.5rem;
    margin-bottom: 25px;
}

.formulario-contacto label {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #c1215b;
}

.formulario-contacto input {
    width: 100%;
    padding: 9px;
    border: 1px solid #f499be;
    border-radius: 16px;
}

.input-nombre-apellido {
    display: flex;
    justify-content: space-between;
}

.formulario-contacto input:valid {
    border-color: #5ccb5f;
}

.formulario-contacto input:invalid:not(:placeholder-shown) {
    border-color: #f50400;
}

.formulario-contacto textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #f499be;
    border-radius: 16px;
}

.Enviar {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #eebbbb;
    background-color: #ca668b;
    padding: 8px 15px;
    border: 1px solid #CC6699;
    border-radius: 20px;
}

.Enviar:hover {
    background-color: #e285a2;
}